[Unit]
Description=Weight Scale

[Service]
WorkingDirectory=/home/pi/cilantro
ExecStart=/usr/bin/node /home/pi/cilantro/app.js
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=weight-scale
User=root
